<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="..static/main.css">
    <title>Flax</title>
</head>
<body>
<div class="container">
    <h2>Flax lottery ticket</h2>
    <p>An application to tell if you have a winning ticket. Snap a photo and check, maybe you're a millionaire?</p>
    <form method=post enctype=multipart/form-data>
        <input type="file" name="file"/>
        <input type="submit" class="btn" value="Check ticket">
    </form>
    <p class="error"> {{ error }}</p>
    <p>{{ message }}</p>
</div>
</body>
</html>